<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href='../css/main.css'>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto+Slab' rel='stylesheet'>
    <title><%= title %></title>
  </head>
  <body>
    <%- include header.ejs -%>
    <main id='account-main'>
      <% if (message) { %>
      <div class='message'><%= message %></div>
      <% } %>
      <% if (error) { %>
      <div class='error'><%= error %></div>
      <% } %>
      <h1>My Account</h1>
      <ul id='account-options'>
        <li>
          <h3 id='new-username-btn'>Change Username</h3>
          <div id='new-username-field' class='hidden'>
            <label for='username'>New Username</label>
            <input id='new-username' type='text' for='username' name='username' placeholder='BBQ123'>
            <button id='new-username-submit' type='button'>Submit</button>
          </div>
        <li>
          <h3 id='new-avatar-btn'>Change Avatar</h3>
          <div id='avatar-options'>
            <img src='../images/cow.svg' alt='cow' id='cow-avatar' <% if (avatar === '../images/cow.svg') { %>class='avatar-highlight'<% } %> >
            <img src='../images/chicken.svg' alt='chicken' id='chicken-avatar' <% if (avatar === '../images/chicken.svg') { %>class='avatar-highlight'<% } %> >
            <img src='../images/pig.svg' alt='pig' id='pig-avatar' <% if (avatar === '../images/pig.svg') { %>class='avatar-highlight'<% } %> >
          </div>
        </li>
        </li>
        <li>
          <h3 id='new-email-btn'>Change Email</h3>
          <div id='new-email-field' class='hidden'>
            <label for='email'>New Email</label>
            <input id='new-reg-email' type='text' for='email' name='email' value='<%= email %>'>
            <button id='new-email-submit' type='button'>Submit</button>
          </div>
        </li>
        <li>
          <h3 id='new-pw-btn'>Change Password</h3>
          <div id='new-pw-field' class='hidden'>
            <label for='password'>New Password</label>
            <input id='new-pw' type='password' for='password' name='password'>
            <label for='confirm password'>Confirm Password</label>
            <input id='new-pw2' type='password' for='confirmpassword' name='password2'>
            <button id='new-pw-submit' type='button'>Submit</button>
          </div>
        </li>
        <li>
          <h3 id='delete-account-btn'>Delete account</h3>
          <div id='delete-account-field' class='hidden'>
            <button id='delete-account-submit' type='button'>Confirm Delete</button>
          </div>
        </li>
      </ul>
    </main>
    <script src='js/bundle.js'></script>
  </body>
</html>