<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='description' content='BBQ Tracker helps you manage cook sessions, recipes, and outcomes.'>
  <link rel='stylesheet' type='text/css' href='/css/main.css'>
  <link rel='stylesheet' type='text/css' href='/css/datepickr.css'>
  <link rel="stylesheet" href="/css/font-awesome.css">
  <title><%= title %></title>
</head>
<body id='log-body'>
  <%- include header.ejs -%>
  <main>
    <h1><%= h1 %></h1>
    <section>
      <div id='date'>
        <label for='date'>Date</label>
        <input type='text' name='date' id='date-select'>
      </div>
      <div id='session-box'>
        <label for='session-name'>Session Name</label>
        <input type='text' id='session-name' placeholder='Brisket in May'>
      </div>
      <div id='bbq-cooker'>
        <label for='cooking-device'>Cooking Device</label>
        <select id='cooking-device'>
          <% logOptions.device.forEach(function(device) { %>
            <option value='<%= device %>'><%= device %></option>
          <% }) %>
          <option id='device-other' value='Other'>Other</option>
        </select>
        <input type='text' placeholder='My custom cooker' id='device-other-text' class='hidden'>
      </div>
      <div id='meat'>
        <label for='meat'>Meat</label>
        <select id='meat-type'>
          <% logOptions.meat.forEach(function(meatType) { %>
            <option value='<%= meatType %>'><%= meatType %></option>
          <% }) %>
          <option id='meat-other' value='Other'>Other</option>
        </select>
        <input type='text' placeholder='Other meat type' id='meat-other-text' class='hidden'>
        <label for='meat-weight'>Weight</label>
        <input type='text' name='meat-weight' id='weight' placeholder='5 lbs'>
        <label for='meat-notes'>Notes</label>
        <input type='text' name='meat-notes' id='meat-notes' placeholder='Prime cut of meat'>
      </div>
      <div id='cook-temperature'>
        <label for='cook-temperature'>Cook Temperature</label>
        <input id='temp-slider' type='range' min='100' max='500' step='5' value='225' oninput='window.outputUpdate(value)'>
        <output for='temp-slider' id='temp-slider-output'>225</output>
      </div>
      <div id='estimated-time-box'>
        <label for='estimated-time'>Estimated Time</label>
        <input type='text' name='estimated-time' id='estimated-time' placeholder='10 hours'>
      </div>
      <div id='fuel-box'>
        <label for='fuel'>Fuel</label>
        <select id='fuel'>
          <% logOptions.fuel.forEach(function(fuelType) { %>
            <option value='<%= fuelType %>'><%= fuelType %></option>
          <% }) %>
        </select>
        <label for='fuel-brand'>Brand</label>
        <input type='text' name='fuel-brand' id='brand' placeholder='Stubbs'>
      </div>
      <div id='wood-box'>
        <label for='wood'>Wood</label>
        <select id='wood'>
          <% logOptions.wood.forEach(function(woodType) { %>
            <option value='<%= woodType %>'><%= woodType %></option>
          <% }) %>
          <option id='wood-other' value='Other'>Other</option>
        </select>
        <input type='text' placeholder='Other wood type' id='wood-other-text' class='hidden'>
        <div id='other-ingredients-box'>
          <label for='other-ingredients'>Other Ingredients<label>
          <textarea id='other-ingredients' placeholder='List them out here'></textarea>
        </div>
      </div>
    </section>
    <section id='recipe-area'>
      <h2>Recipe Steps</h2>
      <button type='button' id='add-step'>Add Step</button>
      <div id='recipe-list'><ol></ol></div>
    </section>
      <fieldset class='rating'>
        <input type='radio' id='star5' name='rating' value='5'><label class='full' for='star5'></label>
        <input type='radio' id='star4' name='rating' value='4'><label class='full' for='star4'></label>
        <input type='radio' id='star3' name='rating' value='3'><label class='full' for='star3'></label>
        <input type='radio' id='star2' name='rating' value='2'><label class='full' for='star2'></label>
        <input type='radio' id='star1' name='rating' value='1'><label class='full' for='star1'></label>
      </fieldset>
    <fieldset id='status-box'>
      <input type='radio' name='status' value='Private' checked='checked'>Private
      <input type='radio' name='status' value='Public'>Public
    </fieldset>
    <button type='button' id='save'>Save Log</button>
  </main>
  <script src='js/bundle.js'></script>
</body>
</html>

