<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='description' content='BBQ Tracker helps you manage cook sessions, recipes, and outcomes.'>
  <link rel='stylesheet' type='text/css' href='/css/main.css'>
  <link rel='stylesheet' type='text/css' href='/css/datepickr.css'>
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto+Slab' rel='stylesheet'>
  <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title><%= title %></title>
</head>
<body id='log-body'>
  <%- include header.ejs -%>
  <main id='log-main'>
    <h1><%= h1 %></h1>
    <section>
      <div id='date'>
        <label for='date'>Date
          <input type='text' name='date' id='date-select' readonly='true'>
        </label>
      </div>
      <div id='session-box'>
        <label for='session-name'>Session Name
          <input type='text' id='session-name' placeholder='Brisket in May'>
        </label>
      </div>
      <div id='bbq-cooker'>
        <label for='cooking-device'>Cooking Device
          <select id='cooking-device'>
            <% logOptions.device.forEach(function(device) { %>
              <option value='<%= device %>'><%= device %></option>
            <% }) %>
          </select>
        <div id='device-other-box' class='hidden'>
          <label for='custom-cooking-device'> Device Name
            <input type='text' placeholder='Custom' id='device-other-text'>
          </label>
          </div>
        </label>
      </div>
      <div id='meat'>
        <label for='meat'>Meat
          <select id='meat-type'>
            <% logOptions.meat.forEach(function(meatType) { %>
              <option value='<%= meatType %>'><%= meatType %></option>
            <% }) %>
          </select>
        <label for='meat-weight'>Weight
          <input type='text' name='meat-weight' id='weight' placeholder='5 lbs'>
        </label>
        </label>
        <div id='meat-other-box' class='hidden'>
          <label for='other-meat'> Meat Type
            <input type='text' placeholder='Custom' id='meat-other-text'>
          </label>
        </div>
      </div>
        <label for='meat-notes' id='meat-notes-label'>Meat Notes
          <input type='text' name='meat-notes' id='meat-notes' placeholder='Prime cut of meat'>
        </label>
      <div id='cook-temperature'>
        <label for='cook-temperature'>Cooking Temp
          <input id='temp-slider' type='range' min='100' max='500' step='5' value='225' oninput='window.outputUpdate(value)'>
          <output for='temp-slider' id='temp-slider-output'>225</output>
        </label>
      </div>
      <div id='estimated-time-box'>
        <label for='estimated-time'>Estimated Time
          <input type='text' name='estimated-time' id='estimated-time' placeholder='10 hours'>
        </label>
      </div>
      <div id='fuel-box'>
        <label for='fuel'>Fuel
          <select id='fuel'>
            <% logOptions.fuel.forEach(function(fuelType) { %>
              <option value='<%= fuelType %>'><%= fuelType %></option>
            <% }) %>
          </select>
        </label>
        <label for='fuel-brand'>Brand
          <input type='text' name='fuel-brand' id='brand' placeholder='Stubbs'>
        </label>
      </div>
      <div id='wood-box'>
        <label for='wood'>Wood
          <select id='wood'>
            <% logOptions.wood.forEach(function(woodType) { %>
              <option value='<%= woodType %>'><%= woodType %></option>
            <% }) %>
          </select>
          <input type='text' placeholder='Other wood type' id='wood-other-text' class='hidden'>
        </label>
      </div>
      <div id='other-ingredients-box'>
        <label for='other-ingredients' id='other-ingredients-label'>Other Ingredients</label>
        <textarea id='other-ingredients' placeholder='List them out here'></textarea>
      </div>
    </section>
    <section id='recipe-area'>
      <h2>Recipe Steps</h2>
      <div id='recipe-list'><ol></ol></div>
      <button type='button' id='add-step'>Add Step</button>
    </section>
      <fieldset class='rating'>
        <input type='radio' id='star5' name='rating' value='5'><label class='full' for='star5'></label>
        <input type='radio' id='star4' name='rating' value='4'><label class='full' for='star4'></label>
        <input type='radio' id='star3' name='rating' value='3'><label class='full' for='star3'></label>
        <input type='radio' id='star2' name='rating' value='2'><label class='full' for='star2'></label>
        <input type='radio' id='star1' name='rating' value='1'><label class='full' for='star1'></label>
      </fieldset>
      <div id='final-comments-box'>
        <label for='final-comments' id='final-comments-label'>Final Comments</label>
        <textarea id='final-comments' placeholder='List final comments here'></textarea>
      </div>
    <fieldset id='status-box'>
      <input type='radio' name='status' value='Private' checked='checked'>Private
      <input type='radio' name='status' value='Public'>Public
    </fieldset>
    <button type='button' id='save'>Save Log</button>
  </main>
  <%- include footer.ejs -%>
</body>
</html>

