<!DOCTYPE html>
<html>
<head>
  <%- include header.ejs -%>
  <title><%= title %></title>
  <meta name="description" content='BBQ Tracker keeps track of BBQ cook sessions, learning best practices of others, and sharing your own successes. '>
</head>
<body id='home-body'>
  <header>
    <video loop muted autoplay playsinline poster='/images/coals.jpg'>
      <source src='/video/coals.mp4' type='video/mp4'>
    </video>
    <%- include nav.ejs -%>
  </header>
  <main id='home-main'>
    <section id='main-title'>
      <img src='/images/bbq_tracker_logo_h.svg' id='cow-img' class='fade-in'>
      <h1 class='fade-inb'>Tasty goodness awaits...</h1>
    </section>
    <section id='main-info'>
      <div class='main-info-bit'>
        <div class='info-bit-content'>
          <h2 class='mobileh2'>BBQ journal</h2>
          <div class='img-wrapper'>
            <img src='/images/smoker.svg' id='smoker-img'>
          </div>
          <div class='main-info-bit-text'><h2 class='maxh2'>BBQ journal</h2><p>Track cooks, store recipes, and experiment</p>
          </div>
        </div>
      </div>
      <div class='main-info-bit'>
        <div class='info-bit-content'>
          <h2 class='mobileh2'>Easy to use</h2>
          <div class='img-wrapper'>
            <img src='/images/mobile-screenshot.png' id='mobile-img'>
          </div>
          <div class='main-info-bit-text'>
            <h2 class='maxh2'>Easily to use</h2>
            <p>As simple as:</p>
            <p>1) Outlining a recipe<br>
            2) Recording the steps<br>
            3) Rating the cook</p>
          </div>
        </div>
      </div>
      <div class='main-info-bit' id='main-info-bit-vote'>
        <div class='info-bit-content'>
          <h2 class='mobileh2'>A social pit</h2>
          <div class='img-wrapper'>
            <img src='/images/vote.svg' id='vote-img'>
          </div>
          <div class='main-info-bit-text'>
            <h2 class='maxh2'>A social pit</h2>
            <p>Share public logs<br>Vote up favorites!</p>
          </div>
        </div>
      </div>
    </section>
    <%- include publiclogs.ejs -%>
  </main>
  <%- include footer.ejs -%>
</body>
</html>

