<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" type="text/css" href='../css/main.css'>
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <title><%= title %></title>
</head>
<body id='home-body'>
  <header>
  <div id='video-container'>
    <video loop muted autoplay>
      <source src='../video/coals.mp4' type='video/mp4'>
    </video>
  </div>
    <%- include header.ejs -%>
  </header>
  <main id='home-main'>
    <h1>Public Logs</h1>
    <h2>Latest Updates</h2>
    <section id='public-logs-updated'>
      <table>
        <tr>
          <th>Username</th><th>Session Name</th><th id='updated-th'>Updated</th><th>Meat</th><th id='rating-th'>User's Rating</th>
        </tr>
        <% if (updated20) { %>
          <% updated20.forEach(function(log) { %>
            <tr id=<%= log._id %>>
              <td><%= log.username %></td>
              <td><a href='/public-log/<%= log._id %>'>
                <% if (log.session_name === '') { %>
                  Unnamed Session
                <% } %>
                <%= log.session_name %></a>
              </td>
              <td id='updated-td'>
                <% if (log.updated) { %>
                  <%= moment(log.updated).format('MMMM Do YYYY') %>
                <% } %>
              </td>
              <td><%= log.meat %></td>
              <td id='rating-td'>
                <% if (log.rating === 5) { %><img src='../images/5.gif' alt='5 Stars'><% } %>
                <% if (log.rating === 4) { %><img src='../images/4.gif' alt='4 Stars'><% } %>
                <% if (log.rating === 3) { %><img src='../images/3.gif' alt='3 Stars'><% } %>
                <% if (log.rating === 2) { %><img src='../images/2.gif' alt='2 Stars'><% } %>
                <% if (log.rating === 1) { %><img src='../images/1.gif' alt='1 Stars'><% } %>
                <% if (log.rating === 0) { %><img src='../images/0.gif' alt='0 Stars'><% } %>
              </td>
            </tr>
          <% }) %>
        <% } %>
      </table>
    </section>
    <h2>Top Pit Hits</h2>
    <section id='top-voted-logs'>
      <table>
        <tr>
          <th>Username</th><th>Session Name</th><th id='vote-meat-th'>Meat</th><th>Pit Hits</th>
        </tr>
        <% if (topVoted20) { %>
          <% topVoted20.forEach(function(log) { %>
            <tr id=<%= log._id %>>
              <td><%= log.username %></td>
              <td><a href='/public-log/<%= log._id %>'>
                <% if (log.session_name === '') { %>
                  Unnamed Session
                <% } %>
                <%= log.session_name %></a>
              </td>
              <td id='vote-meat-td'><%= log.meat %></td>
              <td><%= log.votes %></td>
            </tr>
          <% }) %>
        <% } %>
      </table>
    </section>
  </main>
  <script src='js/bundle.js'></script>
</body>
</html>

