<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href='../css/main.css'>
  <link rel="stylesheet" href="/css/font-awesome.css">
  <title><%= title %></title>
</head>
<body>
  <%- include header.ejs -%>
  <h1>Log History</h1>
  <% if (message) { %>
  <p><%= message %></p>
  <% } %>
  <% if (error) { %>
  <p><%= error %></p>
  <% } %>
  <section id='log-action'>
    <select id='log-action-options'>
      <option>Copy</option>
      <option>Delete</option>
      <option>Switch Status</option>
    </select>
    <button type='button' id='log-action-btn'>Modify Selected</button>
  </section>
  <table class='sortable'>
    <tr>
      <th>Select</th><th>Date</th><th>Session Name</th><th>Meat</th><th>Cook Temperature</th><th>My Rating</th><th>Votes</th><th>Status</th>
    </tr>
    <% if (logList) { %>
      <% logList.forEach(function(log) { %>
        <tr id=<%= log._id %>>
          <td><input type='checkbox' class='log-select' name='log-select'></td><td><% if (log.date) { %><%= moment(log.date).format('MMMM Do YYYY') %><% } %></td>
          <td><a href='/view-log/<%= log._id %>'>
          <% if (log.session_name === '') { %>
            Unnamed Session
          <% } %>
            <%= log.session_name %></a></td><td><%= log.meat %></td><td><%= log.cook_temperature %></td>
              <td 
                <% if (log.rating === 5) { %> sorttable_customkey='5'<% } %>
                <% if (log.rating === 4) { %> sorttable_customkey='4'<% } %>
                <% if (log.rating === 3) { %> sorttable_customkey='3'<% } %>
                <% if (log.rating === 2) { %> sorttable_customkey='2'<% } %>
                <% if (log.rating === 1) { %> sorttable_customkey='1'<% } %>
                <% if (log.rating === 0) { %> sorttable_customkey='0'<% } %>
                >
                  <% if (log.rating === 5) { %><img src='../images/5.gif' alt='5 Stars'><% } %>
                  <% if (log.rating === 4) { %><img src='../images/4.gif' alt='4 Stars'><% } %>
                  <% if (log.rating === 3) { %><img src='../images/3.gif' alt='3 Stars'><% } %>
                  <% if (log.rating === 2) { %><img src='../images/2.gif' alt='2 Stars'><% } %>
                  <% if (log.rating === 1) { %><img src='../images/1.gif' alt='1 Stars'><% } %>
                  <% if (log.rating === 0) { %><img src='../images/0.gif' alt='0 Stars'><% } %>
              </td>
          <td><%= log.votes %></td><td><%= log.status %></td>
          </tr>
      <% }) %>
    <% } %>
  </table>
  <script src='js/bundle.js'></script>
</body>
</html>

