<!DOCTYPE html>
<html>
<head>
  <%- include header.ejs -%>
  <title><%= title %></title>
</head>
<body>
  <%- include nav.ejs -%>
  <main id='not-found-main'>
    <h1><%= h1 %></h1>
    <img src='/images/bbq-tracker-cow.png' alt='BBQ Tracker logo'>
  </main>
  <%- include footer.ejs -%>
</body>
</html>