<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='description' content='BBQ Tracker helps you manage cook sessions, recipes, and outcomes.'>
  <link rel='stylesheet' type='text/css' href='/css/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto+Slab" rel="stylesheet">  
  <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title><%= title %></title>
</head>
<body>
  <%- include header.ejs -%>
  <main id='reset-main'>
    <% if (message) { %>
      <div class='message'><%= message %></div>
    <% } %>
    <% if (errors) { %>
    <% errors.forEach(function(error) { %>
      <div class='error'><%= error %></div>
    <% }) %>
    <% } %>
    <h1>Reset Your Password</h1>
    <section id='reset'>
      <form id='reset-form' action='/reset/<%= token %>' method='POST'>
        <input id='reset-pw' type='password' for='password' name='password' placeholder="New Password">
        <input id='reset-pw2' type='password' for='confirmpassword' name='password2' placeholder="Confirm Password">
        <input id='reset-btn' type='submit' for='submit' value='Update Password'>
      </form>
    </section>
  </main>
  <%- include footer.ejs -%>
</body>
</html>