<!DOCTYPE html>
<html>
<head>
  <%- include header.ejs -%>
  <title><%= title %></title>
</head>
<body>
  <%- include nav.ejs -%>
  <main id='reset-main'>
    <% if (message) { %>
      <div class='message'><%= message %></div>
    <% } %>
    <% if (errors) { %>
    <% errors.forEach(function(error) { %>
      <div class='error'><%= error %></div>
    <% }) %>
    <% } %>
    <h1>Reset Your Password</h1>
    <section id='reset'>
      <form id='reset-form' action='/reset/<%= token %>' method='POST'>
        <input id='reset-pw' type='password' for='password' name='password' placeholder="New Password">
        <input id='reset-pw2' type='password' for='confirmpassword' name='password2' placeholder="Confirm Password">
        <input id='reset-btn' type='submit' for='submit' value='Update Password'>
      </form>
    </section>
  </main>
  <%- include footer.ejs -%>
</body>
</html>