<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" type="text/css" href='/css/main.css'>
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto+Slab' rel='stylesheet'>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title><%= title %></title>
</head>
<body>
  <%- include header.ejs -%>
  <main id='sign-in-main'>
    <% if (message) { %>
    <div class='message'><%= message %></div>
    <% } %>
    <% if (errors) { %>
      <div class='error'><%= errors %></div>
    <% } %>
    <h1>Sign In</h1>
    <section id='sign-in'>
      <form id='sign-in-form' action='/sign-in' method='post'>
        <label for='username'>Username</label>
        <input id='sign-email' type='text' for='username' name='username' placeholder='BBQ123'>
        <label for='password'>Password</label>
        <input id='sign-pw' type='password' for='password' name='password'>
        <input id='sign-in-btn' type='submit' for='submit' value='Submit'>
      </form>
      <p>Forgot username or password? Contact:<br><br>grazingcattlebbq [at] gmail [dot] com</p>
      <div id='demo'>
        <h3>Demo Account</h3>
        <div id='demo-box'> 
          <div><strong>Username:</strong>  demo</div>
          <div><strong>Password:</strong>  12345</div>
        </div>
      </div>
    </section>
  </main>
  <%- include footer.ejs -%>
</body>
</html>