<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='description' content='BBQ Tracker helps you manage cook sessions, recipes, and outcomes.'>
  <link rel='stylesheet' type='text/css' href='/css/main.css'>
  <link rel='stylesheet' type='text/css' href='/css/datepickr.css'>
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto+Slab' rel='stylesheet'>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title><%= title %></title>
</head>
<body id='log-body'>
  <%- include header.ejs -%>
  <main id='log-main'>
    <div id='profile-box'>
      <img src='<%= logAvatar %>' alt='avatar'>
      <div id='author'><%= logInfo.username %></div>
    </div>
    <h1><%= h1 %></h1>
    <div id='vote-area'>
      <div id='vote-count-box'>
        <div id='vote-count'><%= logInfo.votes %></div>
        <% if (user && sameUserAuthor === false) { %>
          <% if (button === true) { %>
            <button type='button' id='vote-btn'>Vote</button>
          <% } else { %>Voted<% } %>
        <% } %>
      </div>
      <img src='/images/vote.svg' alt='Pit Hit Votes'>
    </div>
    <section id='log-basics'>
      <div id='date'>
        <label for='date'>Date
          <input type='text' name='date' id='date-select' value='<% if (logInfo.date) { %><%= moment(logInfo.date).format('MMMM Do YYYY') %><% } %>' disabled>
        </label>
      </div>
      <div id='session-box'>
        <label for='session-name'>Session Name
          <input type='text' id='session-name' value='<%= logInfo.session_name %>' disabled>
        </label>
      </div>
      <div id='bbq-cooker'>
        <label for='cooking-device'>Cooking Device
          <select id='cooking-device' disabled>
            <% logOptions.device.forEach(function(device) { %>
              <option value='<%= device %>' 
                  <% if (logInfo.cooking_device === device) { %> 
                     selected='selected'
                  <% } %>
                    ><%= device %>
              </option>
            <% }) %>
          </select>
          <div id='device-other-box' <% if (!logInfo.device_other) { %>class='hidden'<% } %> >
              <label for='custom-cooking-device'> Device Name
            <input type='text' placeholder='Custom' id='device-other-text' value='<%= logInfo.device_other %>' disabled>
            </label>
          </div>
        </label>
      </div>
      <div id='meat'>
        <label for='meat'>Meat
          <select id='meat-type' disabled>
            <% logOptions.meat.forEach(function(meatType) { %>
              <option value='<%= meatType %>' 
                  <% if (logInfo.meat === meatType) { %> 
                     selected='selected'
                  <% } %>
                    ><%= meatType %>
              </option>
            <% }) %>
          </select>
          <input type='text' placeholder='Other meat' id='meat-other-text' <% if (!logInfo.meat_other) { %>class='hidden'<% } %> value='<%= logInfo.meat_other %>' disabled>
        </label>
        <label for='meat-weight'>Weight
          <input type='text' name='meat-weight' id='weight' value='<%= logInfo.weight %>' disabled>
        </label>
        <label for='meat-notes'>Meat Notes
          <input type='text' name='meat-notes' id='meat-notes' value='<%= logInfo.meat_notes %>' disabled>
        </label>
      </div>
      <div id='cook-temperature'>
        <label for='cook-temperature'>Cooking Temp
          <input id='temp-slider' type='range' min='100' max='500' step='5' value='<%= logInfo.cook_temperature %>' oninput='window.outputUpdate(value)' disabled>

          <output for='temp-slider' id='temp-slider-output'><%= logInfo.cook_temperature %></output>
        </label>
      </div>
      <div id='estimated-time-box'>
        <label for='estimated-time'>Estimated Time
          <input type='text' name='estimated-time' id='estimated-time' value='<%= logInfo.estimated_time %>' disabled>
        </label>
      </div>
      <div id='fuel-box'>
        <label for='fuel'>Fuel
          <select id='fuel' disabled>
            <% logOptions.fuel.forEach(function(fuelType) { %>
              <option value='<%= fuelType %>' 
                  <% if (logInfo.fuel === fuelType) { %> 
                     selected='selected'
                  <% } %>
                    ><%= fuelType %>
              </option>
            <% }) %>
          </select>
        </label>
        <label for='fuel-brand'>Brand
          <input type='text' name='fuel-brand' id='brand' value='<%= logInfo.brand %>' disabled>
        </label>
      </div>
      <div id='wood-box'>
        <label for='wood'>Wood
          <select id='wood' disabled>
            <% logOptions.wood.forEach(function(woodType) { %>
              <option value='<%= woodType %>' 
                  <% if (logInfo.wood === woodType) { %> 
                     selected='selected'
                  <% } %>
                    ><%= woodType %>
              </option>
            <% }) %>
          </select>
          <input type='text' placeholder='Other wood type' id='wood-other-text' <% if (!logInfo.wood_other) { %>class='hidden'<% } %> value='<%= logInfo.wood_other %>' disabled>
        </label>
      </div>
      <div id='other-ingredients-box'>
        <label for='other-ingredients'>Other Ingredients</label>
          <textarea id='other-ingredients' placeholder='List them out here' disabled><%= logInfo.other_ingredients %></textarea>
      </div>
    </section>
    <section id='recipe-area'>
      <h2>Recipe Steps</h2>
      <div id='recipe-list'>
        <ol>
          <% logInfo.steps.forEach(function(item) { %>
            <li>
              <div class='step-box'>
                <div class='step-notes'>
                  <textarea class='step-text' disabled><%= item.step %></textarea>
                </div>
                <div class='complete-box'>
                  <input type='checkbox' class='complete-check' name='step-complete' disabled 
                    <% if (item.completed === true) { %> 
                      checked='checked'
                    <% } %>
                  >Complete
                  <input type='time' class='time' name='time' value='<%= item.time %>' disabled>
                </div>
                <div class='complete-notes'>
                  <textarea class='complete-notes-text' disabled><%= item.notes %></textarea>
                </div>
              </div>
            </li>
          <% }) %>
        </ol>
      </div>
    </section>
    <div id='public-rating'>
      <% if (logInfo.rating === 5) { %><img src='/images/5.gif' alt='5 Stars'><% } %>
      <% if (logInfo.rating === 4) { %><img src='/images/4.gif' alt='4 Stars'><% } %>
      <% if (logInfo.rating === 3) { %><img src='/images/3.gif' alt='3 Stars'><% } %>
      <% if (logInfo.rating === 2) { %><img src='/images/2.gif' alt='2 Stars'><% } %>
      <% if (logInfo.rating === 1) { %><img src='/images/1.gif' alt='1 Stars'><% } %>
      <% if (logInfo.rating === 0) { %><img src='/images/0.gif' alt='0 Stars'><% } %>
    </div>
    <div id='final-comments-box'>
      <label for='final-comments' id='final-comments-label'>Final Comments</label>
      <textarea id='final-comments' placeholder='List final comments here' disabled><%= logInfo.final %></textarea>
    </div>
  </main>
  <script src='/js/bundle.js'></script>
</body>
</html>

