<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='description' content='BBQ Tracker helps you manage cook sessions, recipes, and outcomes.'>
  <link rel='stylesheet' type='text/css' href='/css/main.css'>
  <link rel='stylesheet' type='text/css' href='/css/datepickr.css'>
  <title><%= title %></title>
</head>
<body id='log-body'>
  <%- include header.ejs -%>
  <main>
    <h2><%= logInfo.username %></h2>
    <h1>Public BBQ Log</h1>
    <div id='vote-area'>
      <img src='../images/vote.png' alt='Lip Smackin Votes'>
      <div id='vote-count-box'>
        <div id='vote-count'><%= logInfo.votes %></div>
        <% if (user) { %>
          <% if (button === true) { %>
            <button type='button' id='vote-btn'>Vote</button>
          <% } else { %>Voted<% } %>
        <% } %>
      </div>
    </div>
    <section id='log-basics'>
      <div id='date'>
        <label for='date'>Date</label>
        <input type='text' name='date' id='date-select' value='<% if (logInfo.date) { %><%= moment(logInfo.date).format('MMMM Do YYYY') %><% } %>' disabled>
      </div>
      <div id='session-box'>
        <label for='session-name'>Session Name</label>
        <input type='text' id='session-name' value='<%= logInfo.session_name %>' disabled>
      </div>
      <div id='bbq-cooker'>
        <label for='cooking-device'>Cooking Device</label>
        <select id='cooking-device' disabled>
          <option value='Big Green Egg' <% if (logInfo.cooking_device === 'Big Green Egg') { %>selected='selected'<% } %>>Big Green Egg</option>
          <option value='Weber Smokey Mountain' <% if (logInfo.cooking_device === 'Weber Smokey Mountain') { %>selected='selected'<% } %>>Weber Smokey Mountain</option>
          <option value='Kettle Grill' <% if (logInfo.cooking_device === 'Kettle Grill') { %>selected='selected'<% } %>>Kettle Grill</option>
          <option value='Oven' <% if (logInfo.cooking_device === 'Oven') { %>selected='selected'<% } %>>Oven</option>
          <option value='Other' <% if (logInfo.cooking_device === 'Other') { %>selected='selected'<% } %>>Other</option>
        </select>
        <input type='text' placeholder='My custom cooker' id='device-other-text' <% if (!logInfo.device_other) { %>class='hidden'<% } %> value='<%= logInfo.device_other %>' disabled>
      </div>
      <div id='meat'>
        <label for='meat'>Meat</label>
        <select id='meat-type' disabled>
          <option value='Beef Brisket' <% if (logInfo.meat === 'Beef Brisket') { %>selected='selected'<% } %>>Beef Brisket</option>
          <option value='Beef Ribs' <% if (logInfo.meat === 'Beef Ribs') { %>selected='selected'<% } %>>Beef Ribs</option>
          <option value='Beef Tri-tip' <% if (logInfo.meat === 'Beef Tri-tip') { %>selected='selected'<% } %>>Beef Tri-tip</option>
          <option value='Pork Shoulder' <% if (logInfo.meat === 'Pork Shoulder') { %>selected='selected'<% } %>>Pork Shoulder</option>
          <option value='Pork Ribs (baby backs)' <% if (logInfo.meat === 'Pork Ribs (baby backs)') { %>selected='selected'<% } %>>Pork Ribs (baby backs)</option>
          <option value='Pork Ribs (spares)' <% if (logInfo.meat === 'Pork Ribs (spares)') { %>selected='selected'<% } %>>Pork Ribs (spares)</option>
          <option id='meat-other' value='Other' <% if (logInfo.meat === 'Other') { %>selected='selected'<% } %>>Other</option>
        </select>
        <input type='text' placeholder='Other meat' id='meat-other-text' <% if (!logInfo.meat_other) { %>class='hidden'<% } %> value='<%= logInfo.meat_other %>' disabled>
        <label for='meat-weight'>Weight</label>
        <input type='text' name='meat-weight' id='weight' value='<%= logInfo.weight %>' disabled>
        <label for='meat-notes'>Notes</label>
        <input type='text' name='meat-notes' id='meat-notes' value='<%= logInfo.meat_notes %>' disabled>
      </div>
      <div id='cook-temperature'>
        <label for='cook-temperature'>Cook Temperature</label>
        <input id='temp-slider' type='range' min='100' max='500' step='5' value='<%= logInfo.cook_temperature %>' oninput='window.outputUpdate(value)' disabled>
        <output for='temp-slider' id='temp-slider-output'>225</output>
      </div>
      <div id='estimated-time-box'>
        <label for='estimated-time'>Estimated Time</label>
        <input type='text' name='estimated-time' id='estimated-time' value='<%= logInfo.estimated_time %>' disabled>
      </div>
      <div id='fuel-box'>
        <label for='fuel'>Fuel</label>
        <select id='fuel' value='<%= logInfo.fuel %>' disabled>
          <option value='lump'>Lump Charcoal</option>
          <option value='Briquettes'>Briquettes</option>
          <option value='Wood'>Wood</option>
        </select>
        <label for='fuel-brand'>Brand</label>
        <input type='text' name='fuel-brand' id='brand' value='<%= logInfo.brand %>' disabled>
      </div>
      <div id='wood-box'>
        <label for='wood'>Wood</label>
        <select id='wood' disabled>
          <option value='Hickory' <% if (logInfo.wood === 'Hickory') { %>selected='selected'<% } %>>Hickory</option>
          <option value='Mesquite' <% if (logInfo.wood === 'Mesquite') { %>selected='selected'<% } %>>Mesquite</option>
          <option value='Oak' <% if (logInfo.wood === 'Oak') { %>selected='selected'<% } %>>Oak</option>
          <option value='Pecan' <% if (logInfo.wood === 'Pecan') { %>selected='selected'<% } %>>Pecan</option>
          <option value='Cherry' <% if (logInfo.wood === 'Cherry') { %>selected='selected'<% } %>>Cherry</option>
          <option value='Apple' <% if (logInfo.wood === 'Apple') { %>selected='selected'<% } %>>Apple</option>
          <option value='None' <% if (logInfo.wood === 'None') { %>selected='selected'<% } %>>None</option>  
          <option id='wood-other' value='Other' <% if (logInfo.wood === 'Other') { %>selected='selected'<% } %>>Other</option>
        </select>
        <input type='text' placeholder='Other wood type' id='wood-other-text' <% if (!logInfo.wood_other) { %>class='hidden'<% } %> value='<%= logInfo.wood_other %>' disabled>
      </div>
    </section>
    <section id='recipe-area'>
      <h2>Recipe Steps</h2>
      <div id='recipe-list'>
        <ol>
          <% logInfo.steps.forEach(function(item) { %>
            <li>
              <div class='step-box'>
                <div class='step-notes'>
                  <textarea class='step-text' disabled><%= item.step %></textarea>
                </div>
                <div class='complete-box'>
                  <input type='checkbox' class='complete-check' name='step-complete' disabled 
                    <% if (item.completed === 'true') { %> 
                      checked='checked'
                    <% } %>
                  >
                  <input type='time' class='time' name='time' value='<%= item.time %>' disabled>
                </div>
                <div class='complete-notes'>
                  <textarea class='complete-notes-text' disabled><%= item.notes %></textarea>
                </div>
              </div>
            </li>
          <% }) %>
        </ol>
      </div>
    </section>
    <div id='public-rating'>
      <% if (logInfo.rating === 5) { %><img src='../images/5.gif' alt='5 Stars'><% } %>
      <% if (logInfo.rating === 4) { %><img src='../images/4.gif' alt='4 Stars'><% } %>
      <% if (logInfo.rating === 3) { %><img src='../images/3.gif' alt='3 Stars'><% } %>
      <% if (logInfo.rating === 2) { %><img src='../images/2.gif' alt='2 Stars'><% } %>
      <% if (logInfo.rating === 1) { %><img src='../images/1.gif' alt='1 Stars'><% } %>
      <% if (logInfo.rating === 0) { %><img src='../images/0.gif' alt='0 Stars'><% } %>
    </div>
  </main>
  <script src='../js/bundle.js'></script>
</body>
</html>

