<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='description' content='BBQ Tracker helps you manage cook sessions, recipes, and outcomes.'>
  <link rel='stylesheet' type='text/css' href='/css/main.css'>
  <link rel='stylesheet' type='text/css' href='/css/datepickr.css'>
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto+Slab' rel='stylesheet'>
  <title><%= title %></title>
</head>
<body id='log-body'>
  <%- include header.ejs -%>
  <main id='log-main'>
    <div id='profile-box'>
      <img src='<%= avatar %>' alt='avatar'>
      <div><%= logInfo.username %></div>
    </div>
    <h1><%= h1 %></h1>
    <div id='vote-area'>
      <div id='vote-count-box'>
        <div id='vote-count'><%= logInfo.votes %></div>
      </div>
      <img src='../images/vote.svg' alt='Pit Hit Votes'>
    </div>
    <section>
      <div id='date'>
        <label for='date'>Date
          <input type='text' name='date' id='date-select' value='<% if (logInfo.date) { %><%= logInfo.date %><% } %>'>
        </label>
      </div>
      <div id='session-box'>
        <label for='session-name'>Session Name
          <input type='text' id='session-name' placeholder='Brisket in May' value='<%= logInfo.session_name %>'>
        </label>
      </div>
      <div id='bbq-cooker'>
        <label for='cooking-device'>Cooking Device
          <select id='cooking-device'>
            <% logOptions.device.forEach(function(device) { %>
              <option value='<%= device %>' 
                  <% if (logInfo.cooking_device === device) { %> 
                     selected='selected'
                  <% } %>
                    ><%= device %>
              </option>
            <% }) %>
          </select>
        </label>
      </div>
      <div id='device-other-box' <% if (!logInfo.device_other) { %> class='hidden'<% } %> >
        <label for='custom-cooking-device'> Device Name
          <input type='text' placeholder='Custom' id='device-other-text' value='<%= logInfo.device_other %>'>
        </label>
      </div>
      <div id='meat'>
        <label for='meat'>Meat
          <select id='meat-type'>
            <% logOptions.meat.forEach(function(meatType) { %>
              <option value='<%= meatType %>' 
                  <% if (logInfo.meat === meatType) { %> 
                     selected='selected'
                  <% } %>
                    ><%= meatType %>
              </option>
            <% }) %>
         </select>
        <input type='text' placeholder='Other meat' id='meat-other-text' <% if (!logInfo.meat_other) { %> class='hidden'<% } %> value='<%= logInfo.meat_other %>'>
        </label>
        <label for='meat-weight'>Weight
          <input type='text' name='meat-weight' id='weight' placeholder='5 lbs' value='<%= logInfo.weight %>'>
        </label>
        <label for='meat-notes'>Meat Notes
          <input type='text' name='meat-notes' id='meat-notes' placeholder='Prime cut of meat' value='<%= logInfo.meat_notes %>'>
        </label>
      </div>
      <div id='cook-temperature'>
        <label for='cook-temperature'>Cooking Temp
          <input id='temp-slider' type='range' min='100' max='500' step='5' value='<%= logInfo.cook_temperature %>' oninput='window.outputUpdate(value)'>
          <output for='temp-slider' id='temp-slider-output'><%= logInfo.cook_temperature %></output>
        </label>
      </div>
      <div id='estimated-time-box'>
        <label for='estimated-time'>Estimated Time
          <input type='text' name='estimated-time' id='estimated-time' placeholder='10 hours' value='<%= logInfo.estimated_time %>'>
        </label>
      </div>
      <div id='fuel-box'>
        <label for='fuel'>Fuel
          <select id='fuel' value='<%= logInfo.fuel %>'>
            <option value='Briquettes'>Briquettes</option>
            <option value='lump'>Lump Charcoal</option>
            <option value='Wood'>Wood</option>
          </select>
        </label>
        <label for='fuel-brand'>Brand
          <input type='text' name='fuel-brand' id='brand' placeholder='Stubbs' value='<%= logInfo.brand %>'>
        </label>
      </div>
      <div id='wood-box'>
        <label for='wood'>Wood
          <select id='wood'>
            <% logOptions.wood.forEach(function(woodType) { %>
              <option value='<%= woodType %>' 
                  <% if (logInfo.wood === woodType) { %> 
                     selected='selected'
                  <% } %>
                    ><%= woodType %>
              </option>
            <% }) %>
          </select>
          <input type='text' placeholder='Other wood type' id='wood-other-text' <% if (!logInfo.wood_other) { %>class='hidden'<% } %> value='<%= logInfo.wood_other %>'>
        </label>
      </div>
      <div id='other-ingredients-box'>
        <label for='other-ingredients'>Other Ingredients</label>
          <textarea id='other-ingredients' placeholder='List them out here'><%= logInfo.other_ingredients %></textarea>
      </div>
    </section>
    <section id='recipe-area'>
      <h2>Recipe Steps</h2>
      <button type='button' id='add-step'>Add Step</button>
      <div id='recipe-list'>
        <ol>
          <% logInfo.steps.forEach(function(item) { %>
            <li>
              <div class='step-box'>
                <div class='step-notes'>
                  <textarea class='step-text' placeholder='Write step here'><%= item.step %></textarea>
                </div>
                <div class='complete-box'>
                  <input type='checkbox' class='complete-check' name='step-complete' 
                    <% if (item.completed === true) { %> 
                      checked='checked'
                    <% } %>
                  >Complete
                  <input type='time' class='time' name='time' value='<%= item.time %>'>
                </div>
                <div class='complete-notes'>
                  <textarea class='complete-notes-text' placeholder='Write notes here'><%= item.notes %></textarea>
                  <button type='button' class='remove-step'>Remove Step</button>
                </div>
              </div>
            </li>
          <% }) %>
        </ol>
      </div>
    </section>
      <fieldset class='rating'>
        <input type='radio' id='star5' name='rating' value='5' <% if (logInfo.rating === 5) { %> checked='checked'<% } %>><label class='full' for='star5'></label>
        <input type='radio' id='star4' name='rating' value='4' <% if (logInfo.rating === 4) { %> checked='checked'<% } %>><label class='full' for='star4'></label>
        <input type='radio' id='star3' name='rating' value='3' <% if (logInfo.rating === 3) { %> checked='checked'<% } %>><label class='full' for='star3'></label>
        <input type='radio' id='star2' name='rating' value='2' <% if (logInfo.rating === 2) { %> checked='checked'<% } %>><label class='full' for='star2'></label>
        <input type='radio' id='star1' name='rating' value='1' <% if (logInfo.rating === 1) { %> checked='checked'<% } %>><label class='full' for='star1'></label>
      </fieldset>
      <fieldset id='status-box'>
        <input type='radio' name='status' value='Private' <% if (logInfo.status === 'Private') { %> checked='checked'<% } %>>Private
        <input type='radio' name='status' value='Public' <% if (logInfo.status === 'Public') { %> checked='checked'<% } %>>Public
      </fieldset>
    <button type='button' id='update'>Update Log</button>
  </main>
  <script src='../js/bundle.js'></script>
</body>
</html>

